/**
* defaultTitle
* defaultDescription
*
* The version of the OpenAPI document: 0.1
* 
*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.client.apis


import org.openapitools.client.infrastructure.*
import io.ktor.client.request.forms.formData
import kotlinx.serialization.UnstableDefault
import io.ktor.client.engine.HttpClientEngine
import io.ktor.client.features.json.serializer.KotlinxSerializer
import kotlinx.serialization.json.Json
import kotlinx.serialization.json.JsonConfiguration
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.internal.StringDescriptor

class DefaultApi @UseExperimental(UnstableDefault::class) constructor(
        baseUrl: kotlin.String = "https://newsapi.org",
        httpClientEngine: HttpClientEngine? = null,
        serializer: KotlinxSerializer)
    : ApiClient(baseUrl, httpClientEngine, serializer) {

    @UseExperimental(UnstableDefault::class)
    constructor(
        baseUrl: kotlin.String = "https://newsapi.org",
        httpClientEngine: HttpClientEngine? = null,
        jsonConfiguration: JsonConfiguration = JsonConfiguration.Default)
    : this(baseUrl, httpClientEngine, KotlinxSerializer(Json(jsonConfiguration)))

    /**
    * 
    * Auto generated using Swagger Inspector
    * @param q  (optional)
    * @param apiKey  (optional)
    * @param from  (optional)
    * @param sortBy  (optional)
    * @param to  (optional)
    * @return void
    */
    suspend fun v2EverythingGet(q: kotlin.String?, apiKey: kotlin.String?, from: kotlin.String?, sortBy: kotlin.String?, to: kotlin.String?) : HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        q?.apply { localVariableQuery["q"] = listOf("$q") }
        apiKey?.apply { localVariableQuery["apiKey"] = listOf("$apiKey") }
        from?.apply { localVariableQuery["from"] = listOf("$from") }
        sortBy?.apply { localVariableQuery["sortBy"] = listOf("$sortBy") }
        to?.apply { localVariableQuery["to"] = listOf("$to") }

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/v2/everything",
            query = localVariableQuery,
            headers = localVariableHeaders
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    companion object {
        internal fun setMappers(serializer: KotlinxSerializer) {
        }
    }
}
